body {
  background-color: rgb(46, 45, 45);
  color: purple;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

h1 {
  color: goldenrod;
}
