.listItem {
    display: flex;
    justify-content: space-between;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 80vw;
    max-width: 960px;
    align-items: center;
    margin-top: 5px;   
}



.listBtn {
    /* float: right;
    margin-left: 1px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    background: #22;
    cursor: pointer; */

    background-color: rgb(188, 128, 80); 
    border: 2px solid rgb(75, 59, 59);
    color: white;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: inherit;
    transition-duration: 0.4s;    
}
  
.listBtn:hover {
    background-color: rgb(75, 59, 59);
    color: white;
}

@media (max-width: 769px) {


}