body {
  background: rgb(127, 165, 177);
}

.container {
  max-width: 400px;
  margin: 50px auto 0;
  padding: 20px;
  background-color: rgb(215, 222, 224);
}

.header {
  text-align: center;
  margin: auto;
  padding: 10px 10px 0;
}

.todo {
  margin: 10px auto;
  max-width: 400px;
}

.todo div {
  margin: 0 auto;
  padding: 15px;
  margin: 5px auto;
  text-align: center;
}

.categories {
  margin: 10px auto;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
}

.category {
  margin: auto;
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}