.btn {
  width: 30%;
  height: 3rem;
  background-color: #979292;
  padding: 0px;
  display: inline-block;
  cursor: pointer;
  
}

.btn[aria-pressed="true"] {
  text-decoration: underline;
  border: 2px solid;
}
