.btn {
  width: 30%;
  height: 3rem;
  background-color: #979292;
  padding: 0px;
  display: inline-block;
  cursor: pointer;
  
}
.btn:hover {
  background-color: rgb(83, 81, 81);
  color: rgb(192, 199, 206);
}
.btn[aria-pressed="true"] {
  text-decoration: underline;
  border: 2px solid;
}
