.listContainer {
  width: 100%;
  margin-left: 10px;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.listContainer > h1 {
  color: darkred;
}

@media screen and (min-width: 600px) {
  .listContainer {
    margin: 0px;
  }
  .listContainer > h1 {
    color: "darkred";
  }
}
.listContainerDark {
  background-color: rgb(36, 33, 33);
  width: 100%;
  margin-left: 10px;
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  color: white;
}