.navContainer {
  width: 100%;
  grid-column-start: 1;
    grid-column-end: 3;
 
}

.navListContainer {
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: stretch;
  align-content: center;
  padding: 0;
  margin: auto;
  width: 80%;
}
.navListContainer > li {
  display: flex;
  flex-direction: column;
  align-items: left;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  border: solid black 1.5px;
  background-image: linear-gradient(#e7e7e0, #5b5851);
  opacity: 0.8;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 38%);
}
.activeList {
  opacity: 1;
}
.navListContainer > li > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #8b0000;
}

.navListContainer > li > a > img {
  border: 0;
  border-radius: 50px;
  opacity: 0.3;
}

.navListContainerDark {
  background-color: black;
  transition: all 0.5s ease;
}
.navContainerDark {
  background-color: rgb(39, 37, 37);
  width: 100%;
  grid-column-start: 1;
    grid-column-end: 3;
}

@media screen and (max-width: 800px) {
  .navContainer {
    display: flex;

  }
  .navListContainer {
    display: flex;
    flex-flow: row;
    width: 100%;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 0.4rem;
    margin-bottom: 0px;
  }
  .navListContainer > li {
    border: none;
    height: fit-content;
  }
  
  .navListContainer > li > a > img {
    display: none;
  }
}
