

body {
  margin: 10%;
  height: 100vh;
  border: solid black 2px;
  background-image: linear-gradient(#68635d, #847445, #5c351c);
  font-family: "Bebas Neue", cursive;
    font-size: 1.3rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  grid-template-columns: 0.1fr 2fr 5fr;
  grid-template-rows: 25px auto;
  justify-items: left;
  background-image: radial-gradient(ellipse at top, #edc3a7, #5a5323);
  height: 100vh;
}
:root {
  color-scheme: light dark; /* both supported */
}
.custom-classname.react-toggle {
  align-self: flex-start;
  grid-column-start: 1;
  grid-column-end: 3;
}

.custom-classname.react-toggle--checked .react-toggle-track {
  background-color: #4e414d;
}
.custom-classname.react-toggle--checked .react-toggle-track .react-toggle-track-check {
  top: 8px;
  left: 5px;
  color: #f1f141;
    transform: rotate(355deg);
}

