/*
CSS for FireRing.js
*/

.ringWrapper {
  margin: 0;
  padding: 0;
}

.ring {
  width: 100%;
  animation: turn 3s linear infinite;
  -webkit-animation: turn 3s linear infinite;
}

@media only screen and (min-width: 37.5rem) {
  .ringWrapper {
    width: 80%;
  }
}

@media only screen and (min-width: 56.25rem) {
  .ringWrapper {
    width: 65%;
    margin-top: 10rem;
  }
}

@keyframes turn {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
