/*
CSS for TodoContainer.js
*/

.listWrapper {
  width: 100%;
}

.listWrapper > *:not(:first-child) {
  padding-top: 6rem;
  margin-bottom: 6rem;
}

.todoItem:not(:last-child) {
  margin-bottom: 4rem;
}

.removeButton {
  margin-right: 1rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.removeButton > svg {
  height: 2rem;
  width: 2rem;
}

.addButton {
  font-size: 2.5rem;
  width: 3.5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: rgb(51, 51, 51);
}

.homeButton {
  float: right;
  margin-top: 6rem;
  padding: 0 0.5rem;
  border-radius: 3px;
  color: rgb(149, 149, 149);
  border-bottom: 1px solid rgb(149, 149, 149);
}

.homeButton,
.addButton,
.removeButton {
  transition: transform 0.2s ease-in;
}

.addButton {
  border: 1px solid transparent;
}

.removeButton:hover {
  transform: translateY(-0.3rem);
}

.addButton:hover {
  border-color: rgb(149, 149, 149);
  background: transparent;
  transform: translateY(-0.3rem);
}

.homeButton:hover {
  color: white;
  border: none;
  background: rgb(51, 51, 51);
  transform: translateY(-0.3rem);
}

.homeButton:active,
.addButton:active,
.removeButton:active {
  transform: translateY(0.3rem) translateX(-0.15rem);
}

.todoForm {
  border-top: 0.3px solid rgb(83, 83, 83);
}

.todoLabel,
.todoInput {
  margin-right: 1rem;
}

.todoInput {
  border: none;
  color: inherit;
  font-size: inherit;
  line-height: 2rem;
  width: 25rem;
  background-color: transparent;
  border-bottom: 0.3px solid rgb(83, 83, 83);
}

@media only screen and (max-width: 25em) {
  .todoInput {
    width: inherit;
  }
}

@media only screen and (min-width: 37.5rem) {
  .listWrapper {
    width: 80%;
  }
}

@media only screen and (min-width: 56.25rem) {
  .listWrapper {
    width: 65%;
  }
}
