/*
CSS for TodoContainer.js
*/

.listWrapper {
  width: 100%;
}

.listWrapper > *:not(:first-child) {
  padding-top: 6rem;
  margin-bottom: 6rem;
}

.todoItem:not(:last-child) {
  margin-bottom: 4rem;
}

.removeButton {
  margin-right: 1rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.removeButton > svg {
  height: 2rem;
  width: 2rem;
  transform: translateY(0.3rem);
}

.addButton {
  font-size: 2rem;
  padding: 0.2rem 0.5rem;
  background: transparent;
  cursor: pointer;
  border-radius: 3px;
  color: rgb(180, 180, 180);
  border: 1px solid rgb(180, 180, 180);
}

.homeButton {
  float: right;
  margin-top: 6rem;
  padding: 0 0.5rem;
  border-radius: 3px;
  color: rgb(180, 180, 180);
  border-bottom: 1px solid rgb(180, 180, 180);
}

.sortButton {
  cursor: pointer;
  display: inline-block;
  color: rgb(180, 180, 180);
}

.homeButton,
.addButton,
.removeButton,
.sortButton {
  transition: transform 0.2s ease-in;
}

.removeButton:hover {
  transform: scale(1.15) translateY(-0.2rem);
}

.addButton:hover {
  color: white;
  background: rgb(51, 51, 51);
  border-color: rgb(51, 51, 51);
  transform: scale(1.15) translateY(-0.2rem);
}

.homeButton:hover {
  color: white;
  border: none;
  background: rgb(51, 51, 51);
  transform: scale(1.1) translateY(-0.2rem);
}

.sortButton:hover {
  color: white;
  transform: scale(1.15) translateY(-0.2rem);
}

.homeButton:active,
.addButton:active,
.removeButton:active {
  transform: translate(-0.1rem, 0.2rem);
}

.sortButton:active {
  transform: scale(1);
}

.todoForm {
  border-top: 1px solid rgb(90, 90, 90);
}

.todoLabel,
.todoInput {
  margin-right: 1rem;
}

.todoInput {
  border: none;
  color: inherit;
  font-size: inherit;
  line-height: 2rem;
  width: 25rem;
  background-color: transparent;
  border-bottom: 1px solid rgb(90, 90, 90);
}

@media only screen and (max-width: 25em) {
  .todoInput {
    width: inherit;
  }
}

@media only screen and (min-width: 37.5rem) {
  .listWrapper {
    width: 80%;
  }
}

@media only screen and (min-width: 56.25rem) {
  .listWrapper {
    width: 65%;
  }
}
