/*
CSS for Sidebar.js
*/

.sideBar {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.sideBar > * {
  margin-bottom: 6rem;
}

.avatar {
  width: 15rem;
  border-radius: 50%;
  border: 1px solid rgb(51, 51, 51);
  transition: transform 0.2s ease-in;
  animation: moveInTop 0.75s ease-out 0.75s backwards,
    floating 7s ease-in-out 3.5s infinite;
}

h1 {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 4rem;
  transition: transform 0.2s ease-in;
  animation: moveInRight 1s ease-out;
}

h1:hover {
  transform: skewX(-3deg) skewY(-3deg);
}

.todoNav {
  width: 100%;
}

.todoNav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.todos {
  width: 17rem;
  height: 17rem;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 3px;
  text-align: center;
  background-color: rgb(51, 51, 51);
  transition: transform 0.2s ease-in;
}

.todos > a > * {
  margin-bottom: 1rem;
}

.todos > a > *:last-child {
  color: rgb(180, 180, 180);
}

.readingCard {
  transform: rotate(3deg);
}

.homeworkCard {
  transform: rotate(-2deg);
}

.readingCard:hover,
.homeworkCard:hover {
  transform: scale(1.05) translateY(-0.5rem);
}

.readingCard:active,
.homeworkCard:active {
  transform: translate(-0.1rem, 0.2rem);
}

.icon {
  font-size: 5rem;
}

@media only screen and (min-width: 37.5rem) {
  .todos {
    width: 25rem;
  }
}

@media only screen and (min-width: 56.25em) {
  .sideBar {
    width: 30%;
  }
  .todoNav ul {
    flex-flow: column;
  }
  .todos {
    height: 15rem;
    width: 15rem;
  }
  .todos:first-child {
    margin-bottom: 6rem;
  }
  h1 {
    font-size: 3rem;
  }
  .icon {
    font-size: 4rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

/* Animation */

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(12rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-8rem);
  }
  80% {
    opacity: 1;
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 2rem);
  }
  100% {
    transform: translate(0, -0rem);
  }
}
