/* .btn {
 position: relative;
margin-right: 100px;
 width:60px;
 height: 45px;
 border-radius: 3px;
 font-weight: 500;
 font: 16px;
 background:cadetblue;
 color: #fff;
 border: none;
 outline: none;
 cursor: pointer;

} */
.form {
 display: flex;
 flex-direction: column;
 flex: 1;
 max-width: 60%;
 justify-content: flex-end;
  margin-left: 650px;
 background-color: #e2af2c;
}
.form > input {
 flex-grow: 1;
 height: 2rem;
 font-size: large;
 background-color: #ccc9c9;
}
.form > input:focus {
 border-color: #4d4d4d;
 box-shadow: inset 0 0 0 1.5px;
}
.form > label {
 align-self: center; 
}
.form > button {
 width: 20%;
 align-self: center;
 height: 2rem;
}
.form > button:hover {
 color: black;
 background-color: lightgray;
 border: black solid 2px;
}

@media screen  and (max-width:800px){
 .form{
   margin: auto;
   
 }
 
}