
.nav {

  display: flex;
  flex-direction: row;
  
  justify-content: center; 
  list-style-type: none;
  border: 5px solid black;
  height: 200px; 
  width: 500px; 
  background-color: #e2af2c;
  margin: auto;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
 }
 .nav li{
   display: flex;
   justify-content: center;
  border: 2px solid rgb(61, 61, 59);
  border-radius:10px;
  background-color: rgb(165, 165, 164);
  height: 100px;
  width: 100px;
  padding: 10px;
  margin: auto;
  font-size: 25px;
  font-style: italic;  
 }
 .link {
  text-align: center;
  padding:10px 10px;
  
  text-decoration: none;
  margin-right: 5px;
  
 }
 .airtable{
  list-style: none;
  font-size: 20px; font-weight: 200; letter-spacing: 2px;
  text-align:center;
  width:600px;
  height:auto;
  margin-top: -150px;
  margin-left: 400px;
  margin-right: auto;
 }
 .item {
   display: flex;
  justify-content: space-around;
  
 }
.note {
 background: #fff;
 
 flex-direction: row;
 border-radius: 7px;
 box-shadow: 0 2px 5px #ccc;
  font-size: 1.5em;
  margin-bottom: 6px;
 padding: 10px;
 width: 100%;
 margin: 16px;
 align-content: center;
}
.link{
  display: flex;
  justify-self: center;
}

@media screen  and (max-width: 768px){
  .nav {
  margin:auto;
  }
}
@media only screen and (max-width: 600px){
  .nav{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(84, 84, 100);
 width: 100%;
  }

    .nav li{
     display: flex; 
     justify-content: center;
  width: 100%;
  height: 40px;
    }
  .link {
  
    margin: -21px 182px;
    color: rgb(26, 24, 24);
   
  }
}