* {
  font-family: "Arial";
}

h1 {
  font-size: 2.5rem;
  margin-left: 13rem;
}

h2 {
  margin-left: 18rem;
}

h1,
h2 {
  text-transform: uppercase;
}

h1,
h2,
label,
.todolist li {
  color: rgb(56, 56, 56);
  text-shadow: 0.5rem 1rem 2rem rgba(5, 5, 5, 0.4);
}

.todolist {
  margin-left: 5rem;
}

.todolist li {
  list-style-type: "\1F4CC";
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 1rem 3rem 1rem 1.3rem;
  transition: transform 0.3s ease;
}

a {
  text-decoration: none;
  color: rgb(0, 183, 255);
  padding: 0.5rem;
  margin-right: 1rem;
  text-transform: uppercase;
  background-color: white;
  border-radius: 0.5rem;
  border-bottom: 0.1rem solid rgb(0, 217, 255);
}

a:hover {
  color: white;
  background-color: rgb(0, 217, 255);
  box-shadow: 0 1.5rem 2rem rgba(1, 143, 100, 0.2);
}

.button {
  color: #14ad47;
  padding: 0.5rem;
  margin-left: 2rem;
  border: none;
  border-bottom: 0.1rem solid #4ec576;
  background-color: inherit;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

button:hover {
  color: white;
  background-color: #9fddb4;
  box-shadow: 0 1.5rem 2rem rgba(1, 143, 100, 0.2);
}

button:active,
nav li:active {
  transform: translateX(-1px) translateY(3px);
}

li,
a,
p,
button,
form {
  font-size: 1.5rem;
  font-weight: 700;
}

input[type="text"] {
  font-size: 1.5rem;
  width: 32rem;
  line-height: 2.5rem;
}
