
html {
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    padding: 5px;
    width: 80%;
    text-align: center;
    color: #181D31;
    background: #f0e9d2;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
} 
ul {
    list-style: none;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    font-size: 2rem;
    min-width: 48%;
    min-height: 45%;
    transition: 0.3s ease-in-out;

}

li:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navItems > li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #808080
}
.container {
    text-align: center;
}

.container > ul > li {
    font-size: 1.5rem;
    width: 0%;
    height: auto;
    border: 1px solid #f0e9d2;
    text-align: center;
    flex: 0 0 25em;
}

button {
    border-radius: 0;
    border: none;
    background: #f0e9d2;
    padding: 6px;
    color: #181d31;
}
button:hover, a:hover, input:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.main {
    display: flex;
    flex-direction: row;
}
#addBtn {
    font-size: 2.6rem;
    position: relative;
    right: -65px;
    bottom: -21px;
    background: none;
    color: #181D31;
    top: -8px;
}

#addBtn:hover {
    color: green
}

input {
    position: relative;
    left: 60px;
    padding: 10px;
    font-size: 20px;
    top: -18px;
    color:#181d31;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

input::placeholder {
    color: #cbcbcb;
}

strong {
    background: red;
    padding: 8px;
    margin: 5px;
    color: white;
}

.active{
    background-color: #181D31;
    color: #678983
}

.radioInput {
    position: relative;
    top: 0px;
    left: 1px
}

@media(max-width: 700px) {
    .main {
        display: flex;
        flex-direction: column
    }
    ul{
        min-width: 90%
    }
    .navItems > li {
        width: 160px;
        height: 50px;
    }
    .container > ul > li {
        font-size: 1.5rem;
        width: 90%;
        border: 1px solid #F0E9D2;
        text-align: center;
        box-shadow: 0 2px 1px rgba(2, 1, .5, .06);
        flex: 0 0 14em;
    }
    #addBtn {
        position: relative;
        right: -30px;
        bottom: -21px;
    }
    
    #addBtn:hover {
        color: green
    }
    
    input {
        position: relative;
        left: 35px;
        padding: 14px;
        font-size: 20px;
    }
}